html, .body{
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 1em;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    color: #fff;
}
.header {
    overflow:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(3,37,65,1);
    height: 64px;
    z-index: 2;
    width: 100vw;
    max-width: 100%;
}
.header-content{
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    width: 100%;
}
.search{
    border: none;
    background-color: rgba(3,37,65,1);
}
.content-navigation{
    display: flex;
    justify-content: flex-start;
    padding-left: 40px;
    align-items: center;
}
.content-navigation__logo{
    display: block;
    width: 154px;
    height: 20px;
}
.content-navigation__menu{
    display: flex;
    list-style: none;
}
.menu__item{
    margin: 0 2em;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
}
.content-search{
    display: flex;
    align-items: center;
}
.content-search__from{
    display: flex;
    align-items: center;
    padding-right: 40px;
    justify-content: flex-end;
}
.search__input{
    width: 260px;
    height: 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 10px 20px;
}
.footer{
    flex-shrink: 0;
    background-color: rgba(3,37,65,1);
    height: 160px;
    max-width: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}
.footer__logo{
    display: block;
    width: 130px;
    height: 94px;
}
.footer__a{
    color: #fff;
    font-weight: 600;
}

.main{
    flex-grow: 1;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background-color: #fff;
    margin-top: 58px;
}
.main__section{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    padding: 0;
}
.main__section_title{
    border-radius: 5px;
    max-width: 1400px;
    min-height: 320px;
    height: calc(100vh / 2.5);
    max-height: 360px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    background-image: linear-gradient(to right, rgba(3,37,65, 0.8) 0%, rgba(3,37,65,0) 100%);
}
.section__wrapper{
    width: 100%;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.main__title{
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 85px;
}
.main__title_h2{
    font-size: 3em;
    font-weight: 600;
    margin-bottom: 0;
}
.main__title_h3{
    font-size: 2em;
    font-weight: 600;
    margin-top: 0;
}
.section__content{
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.section__content_wrapper{
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.content__header{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.content__header_h2{
    white-space: nowrap;
    margin: 0;
    font-weight: 600;
    font-size: 1.5em;
    color: #000;
}
.main-section__selector{
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    border: 1px solid rgba(3,37,65, 1);
    border-radius: 30px;
}
.selector__item{
    top: 0;
    left: 0;
}
.selector__item_h3{
    font-weight: 600;
    margin: 0;
    font-size: 1em;
    padding: 4px 20px;
    white-space: nowrap;
}
.selector__item_a{
    cursor: pointer;
    color: rgba(3,37,65, 1);
    text-decoration: none;
}
.selector__item_active{
    background:rgba(3,37,65, 1);
    border-radius: 30px;
}
.selector__item_active .selector__item_a{
    color: #f0e5e5;
}
.content__scroller{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}
.content__scroller_cards{
    height: auto;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
}
.content__scroller::after{
    content: "";
    width: 60px;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    z-index: 1;
    background-image: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
    pointer-events: none;
}
.content__scroller::before{
    content: "";
    width: 45px;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to left, rgba(255,255,255,0) 0%, #fff 100%);
    pointer-events: none;
}
::-webkit-scrollbar{
    height: 8px;
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(219,219,219, 1);
    border-radius: 20px;

}
.card1{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border-radius: 8px;
    width: 150px;
    min-width: 150px;
    margin-left: 40px;
}
.card1__img{
    box-shadow: 8px 8px 8px rgb(0 0 0 / 20%);
    border-radius: 8px;
    width: 100%;
    height: 225px;
    overflow: hidden;
    cursor: pointer;
}
.card1__img_img{
    width: 100%;
    height: 100%;
}
.card1__title{
    padding: 20px 10px 10px 10px;
    white-space: normal;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    padding-bottom: 0;
    font-weight: 700;
}
.card1__title_a{
    font-size: 1em;
    transition: color ease-out 0.3s;
    text-decoration: none;
    color: #000;
}
.card1__title_a:hover{
    color: rgb(30, 116, 228);
}
.card1__title_p{
    margin: 0;
    color: rgba(0,0,0,60%);
}
.content__title{
    width: 100%;
    margin-bottom: 20px;
}
.content__title_h2{
    font-size: 1.6em;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    
}
.content{
    --width-filter-panel:260px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}
.cards-wrapper{
    padding-left: 30px;
    padding-right: 0;
    width: calc(100vw - 60px - var(--width-filter-panel));
    max-width: 1060px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card2{
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 30px;
    width: 180px;
}
.card2__img{
    width: 100%;
    height: 265px;
}
.card2__content{
    padding: 10px 10px 10px 10px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
}
.card2__content_h2{
    margin: 0;
    width: 100%;
    font-size: 1em;
}
.card2__content_a{
    font-weight: 700;
    transition: color ease-out 0.3s;
    text-decoration: none;
    color: #000;
}
.card2__content_p{
    font-weight: 800;
    margin: 0;
    color: rgba(0,0,0,60%);
}
.card2__content_a:hover{
    color: rgb(30, 116, 228);
}
.button{
    margin-top: 30px;
    padding: 0;
    max-width: 100%;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:8px;
    cursor: pointer;
    background-color: rgba(1,180,228, 1);
    transition: background-color ease-out 0.3s;
    visibility: hidden;
}
.button:hover{
    background-color: rgb(3,37,65,1); 
}
.button_p{
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button_a{
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: none;
    visibility: visible;
}