.header {
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: rgba(3, 37, 65, 1);
  height: 64px;
  z-index: 2;
  width: 100vw;
  max-width: 100%;
}
.header-content {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
}
.search {
  border: none;
  background-color: rgba(3, 37, 65, 1);
}
.content-navigation {
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  align-items: center;
}
.content-navigation__logo {
  display: block;
  width: 154px;
  height: 20px;
}
.content-navigation__menu {
  display: flex;
  list-style: none;
}
.menu__item {
  margin: 0 2em;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
.content-search {
  display: flex;
  align-items: center;
}
.content-search__from {
  display: flex;
  align-items: center;
  padding-right: 40px;
  justify-content: flex-end;
}
.search__input {
  width: 260px;
  height: 20px;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 10px 20px;
}
